.container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.temp {
  display: flex;
  font-size: 4rem;
  align-items: center;
}

.temp img {
  height: 4rem;
  margin-right: 0.5rem;
}
